.tooltip-inner, .arrow {
  background-color: grey ;
}
.hidde {display:none}

.loading-div{display:none;position: fixed;z-index: 999;height: 2em;width: 303px;overflow: visible;margin: auto;top: 0;left: 0;bottom: 0;right: 0;}
/* User dashboard */
.nav-item .professional-settings-container {margin-left: 20px;}
.myNetwork .card-my-network {padding: 0px;}
.myNetwork .card-my-network-container {overflow-y: scroll;height: 200px;}
.myNetwork .level-with-users-span {color:green !important;}
.myNetwork .level-without-users-span {color:red !important;}
.alert p {margin-bottom: 0px;}

.cover-image .cover-image-file-input { opacity: 1; -webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}

.avatar .overlay-icon {

  opacity: 1;

}
.modal-backdrop.show {opacity: 0;}


 

/* End user dashboard */


/* Datables */

.dashboard-data-table {margin:5px;}
.search-table input {padding-top: 0px;padding-bottom: 0px;padding-left:3px;height: 30px;}
.search-table th {padding-bottom: 0px;margin-bottom: 0px;padding-left: 5px;}
.search-table td {padding-left: 5px;}

/* End Datables */

/* General */
.required-sign-label {color:red;}
.card-datables {overflow: hidden; overflow-x: auto;}
.search-by-label {margin-left:5px;padding-bottom:0px;margin-bottom:2px;}
/* End General */
@media screen and (max-width: 992px) {
  .search-table input {width: 70px;}
}